* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::selection {
  background-color: #f9004d;
  color: white;
}
html {
  font-size: 62.5%;
}
:root {
  --primary-color: #f9004d;
  --background-color: #101010;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 0;
}
/***************** overlay ******************/
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  z-index: 99999;
}
.overlay-2 {
  background-color: var(--primary-color);
  z-index: 999;
}
.overlay-text {
  font-size: 6rem;
  color: var(--primary-color);
  font-family: "Lobster", cursive;
}
/***************** general ******************/
.primary-heading {
  font-size: 5rem;
  color: white;
  font-weight: 700;
  line-height: 6rem;
}
.primary-para {
  font-size: 1.5rem;
  color: #fcfc;
  line-height: 2.4rem;
}
button {
  padding: 1rem 2.5rem;
  border-radius: 30px;
  transition: 0.5s;
  font-weight: bold;
}
.primary-btn {
  background-color: var(--primary-color);
  color: white;
  border: 2px solid transparent;
}
.primary-btn:hover {
  background-color: transparent;
  border: 2px solid var(--primary-color);
}
.secondary-btn {
  background-color: transparent;
  color: white;
  border: 2px solid var(--primary-color);
}
.secondary-btn:hover {
  background-color: var(--primary-color);
  color: white;
}
/***************** navbar ******************/
nav {
  z-index: 99;
  width: 100%;
  padding: 2.4rem 9.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-size: 3rem;
  color: white;
  font-family: "Lobster", cursive;
}
.logo span {
  color: var(--primary-color);
}
.navlist {
  display: flex;
  align-items: center;
  gap: 4.6rem;
}
.navlist li a {
  font-size: 1.4rem;
  color: white;
  transition: 0.5s;
}
.navlist li a:hover {
  color: var(--primary-color);
}
.menu-btn {
  font-size: 2.5rem;
  color: white;
  display: none;
}
.hide-menu-btn {
  font-size: 2rem;
  display: none;
}
/***************** home ******************/
.home-section {
  height: 100vh;
  max-width: 150rem;
  margin: auto;
  position: relative;
}
.home-container {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.home-content {
  min-width: 65rem;
  width: 45%;
}
.home-content h1 span {
  color: var(--primary-color);
}
.home-content p {
  margin: 2rem 0;
}
.action-btns {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-top: 4rem;
}
.home-section img {
  width: 30%;
}
.background-text {
  color: #161616;
  font-size: 10rem;
  font-weight: 900;
  font-family: "Lobster", cursive;
  position: absolute;
  z-index: -1;
}
.background-text-1 {
  top: 10%;
  right: 0;
}
.background-text-2 {
  left: 0;
  bottom: 5%;
}
